body{background-color: lightgray;}
  
  #myCanvas {
    position: relative;
    text-align : center ;
    margin-top: 5px;
    border: 1px solid black;
    }

  #bandeauLevel{
    font-weight: bold;
    color: white;
    background-color: orange;
    margin-top: 20px;
  }

  #gif{
    width: 1000;
    height: 500;
    position:absolute;
    text-align : center ;
    margin-top: 5px;
  }

  #aideGame{
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    color: rgb(0, 140, 255);
  }
  #aideGame2{
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    color: rgb(0, 140, 255);
  }

  .myGame{
    float: left;
    border: 5px solid orange;
    text-align : center ;
    background-color:white;
    height: 750px;
    width: 1100px;
    left: 20%;

    border-radius: 30px;
  }

  .userList {
    float: left;
    width:100px;
    height:300px;
    border-right:1px solid black;
    padding:10px;
    overflow:scroll-y;
  }

  .chatMessages {
    float: left;
    width:300px;
    height:250px;
    overflow:scroll-y;
    padding:10px;
  }